@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem clamp(1rem, 7vw, 15rem);
}

#navbar a {
  text-decoration: none;
}

#navbar .logo {
  color: #6070ff;
  font-weight: bold;
  font-size: 2rem;
}

div ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

#navbar ul {
  display: flex;
  gap: 1.5rem;
}

#navbar ul a {
  color: #344563;
  font-size: 1rem;
  font-weight: 500;
}

#navbar a:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

.hamburger {
  display: none;
}

#brand {
  font-style: normal;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

.menu {
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

#menu-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

#headline {
  width: fit-content;
  margin: auto;
  max-width: 960px;
  padding: 2rem;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 0.37px;
  color: #091e42;
  margin-bottom: 12px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  margin-bottom: 12px;
}

.contact-link {
  font-style: normal;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#Ellipse3 {
  position: absolute;
  right: 1rem;
  height: 100px;
  transform: rotate(10deg);
  transform: translate(0, 10px);
}

#Ellipse4 {
  left: 63%;
  transform: translate(0%, 18%);
}

#Ellipse5 {
  position: absolute;
  left: 50%;
  top: calc(50% + 1.1rem);
  transform: translate(-50%, 60%);
}

#Ellipse6 {
  position: absolute;
  width: 75px;
  height: 75px;
  left: 1174px;
  top: 540px;
}

#Ellipse7 {
  position: absolute;
  width: 39px;
  height: 39px;
  left: 965px;
  top: 130px;
}

#Ellipse11 {
  height: 40px;
  transform: translate(-30px, 5px);
}

#Ellipse12 {
  transform: translate(0, -19px);
  left: 1.5rem;
}

#Rectangle4 {
  position: absolute;
  right: 2rem;
  height: 80px;
  transform: translate(0, -40px);
}

#Rectangle7 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 60%);
}

#Rectangle5 {
  left: 50%;
}

.eli {
  position: relative;
  padding: 1rem;
}

.icons {
  position: relative;
  padding: 1rem;
  max-width: 960px;
  width: 100vw;
  margin: auto;
}

.icons img {
  position: absolute;
}

.wrapper {
  padding-bottom: 8rem;
}

@media only screen and (max-width: 768px) {
 .hamburger {
    display: block;
 }

 #navbar ul {
    display: none;
 }
 
}